:root{
    --dark-blue-promeo : rgb(0,86,119);
    --light-blue-promeo : rgb(13,163,221);
    --red-promeo: rgb(226,5,27);
}

body,
html {
    height: 100%;
    margin:0;
    overflow: hidden;
}

.background-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/ressources/images/bg2.png');
}
.item {
    height: 100%;
    width: 100%;
}

.header1{
    left: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 3em;
    max-width: 75%;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}

/* slide 1*/
.presentation-title{
    position: absolute;
    top: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 4em;
    max-width: 50%;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}

.presentation-subtitle{
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 3em;
    max-width: 50%;
    font-weight: bolder;
    padding: 1%;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}

.red-big-letter{
    color: var(--red-promeo);
}

#logo-promeo{
    position: absolute;
    left: 15%;
    bottom: 3%;
}

#logo-adb{
    position: absolute;
    left: 2%;
    bottom: 3%;
}
#logo-sio{
    position: absolute;
    left: 2%;
    bottom: 30%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-lg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summury-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: #fff;
    opacity: 0.85;
}

.summury-content h1{
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    font-size: 3em;
    color: #ffffff;
}

.summury-content ul{
    vertical-align: middle;
    color: #fff;
    font-size: 3em;
    margin-left: 35%;
    margin-top: 1%;
}

.summury-content{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background: var(--light-blue-promeo);
    opacity: 0.85;
}

.ender_pres{
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.ender_pres img{
    text-align: center;
}

#footer_end{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#header_end{
    width: 100%;
    position: absolute;
    top: 0;
}

#content_end{
    width: 100%;
    position: absolute;
    top: 33%;
    z-index: 55;
}

#logo-sio-end{
    position: absolute;
    top: 60%;
    left: 33%;
    z-index: 3;
    width: 8vw;
}

#logo-adb-end{
    position: absolute;
    top: 60%;
    left: 55%;
    z-index: 3;
    width: 8vw;
}

