:root{
    --dark-blue-promeo : rgb(0,86,119);
    --light-blue-promeo : rgb(13,163,221);
    --red-promeo: rgb(226,5,27);
}

body,
html {
    height: 100%;
    margin:0;
    overflow: hidden;
}

.background-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/ressources/images/bg3.png');
}
.item {
    height: 100%;
    width: 100%;
}

.header1{
    left: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 5%;
    max-width: 75%;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 1%;
    margin-top: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}
.header2{
    position: absolute;
    width: 40%;
    left: 5%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    top: 10%;
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
    padding: 1%;
    border-radius: 5%;
}

/* slide 1*/
.presentation-title{
    position: absolute;
    top: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 4em;
    max-width: 50%;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}

.presentation-subtitle{
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: #fff;
    background-color: var(--dark-blue-promeo);
    font-size: 3em;
    max-width: 50%;
    font-weight: bolder;
    padding: 1%;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.85;
}

.red-big-letter{
    color: var(--red-promeo);
}

#logo-promeo{
    position: absolute;
    left: 15%;
    bottom: 3%;
}

#logo-adb{
    position: absolute;
    left: 2%;
    bottom: 3%;
}
#logo-sio{
    position: absolute;
    left: 2%;
    bottom: 30%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-lg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summury-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: #fff;
    opacity: 0.85;
}

.summury-content h1{
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    font-size: 3em;
    color: #ffffff;
}

.summury-content ul{
    vertical-align: middle;
    color: #fff;
    font-size: 3em;
    margin-left: 35%;
    margin-top: 1%;
}

.summury-content{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background: var(--light-blue-promeo);
    opacity: 0.85;
}

.ender_pres{
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.ender_pres img{
    text-align: center;
}

#footer_end{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#header_end{
    width: 100%;
    position: absolute;
    top: 0;
}

#content_end{
    width: 100%;
    position: absolute;
    top: 33%;
    z-index: 55;
}

#logo-sio-end{
    position: absolute;
    top: 60%;
    left: 33%;
    z-index: 3;
    width: 8vw;
}

#logo-adb-end{
    position: absolute;
    top: 60%;
    left: 55%;
    z-index: 3;
    width: 8vw;
}

.titre-contenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: var(--dark-blue-promeo);
    opacity: 0.90;
    padding-bottom: 1%;
}

.titre-contenu h1{

    font-size: 4.5em;
    color: #ffffff;
    font-weight: bolder;
}
.content-contenu{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 85%;
    background: #ffffff;
}

/*
    SLIDE HISTORIQUE CONTEXT
 */
.discussion{
    position: absolute;
    left: 5%;
    width: 55vw;
    margin-top: 3%;
}

.profile-pic{
    margin-top: 1vh;
    width: 5vw;
    border-radius: 50%;
}

.bubble{
    position: relative;
    background: #d8d8d8;
    font-size: 2.5vh;
    margin: 1vh 1vw;
    padding: 4%;
    color: #000000;
    border-radius: 3%;
    width: 100%;
}

.bubble-sender{
    background: var(--dark-blue-promeo) ;
    color: #ffffff;
}

#word{
    position: relative;
    left: 40%;
}

.titre-doc{
    font-size: 2em;
}

.center-col{
    margin-top: 7%;
}

#mail{
    position: absolute;
    margin-top: -3%;
    left: 40%;
    width: 55%;
    text-align: center;
}

#mail img{
    max-width: 100%;
}

/**
SLIDE 2
 */

#plan-phase{
    top: 10%;
    height: 100%;
}

#plan-phase-1{
    border-right: solid 0.1vw var(--red-promeo);
    text-align: center;
}
#plan-phase-2{
    border-left: solid 0.1vw var(--red-promeo);
    text-align: center;
}

.logo-phase{
    width: 10vw;
    vertical-align: center;
}

#logo-p1{
    margin-top: 25%;
    margin-left: 5%;
}

#user-icon{
    margin-left: 20%;
}

#techno{
    background: #bdc3c7;
    border-radius: 7%;
    border-bottom-right-radius: 15%;
    width: 13vw ;
    padding: 1%;

}

#logo-symfony{
    margin-top: 3vh;
}

#deadline{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 25vw;
}

#team-pic{
    width: 20vw;
    margin-left: 50%;
}

#scrum-pic{
    width: 90%;
    margin-top: 10vh;
}
#tools{
    margin-top: 5%;
}
.tools-list{
    list-style: none;
    font-size: 3em;
}

.headerList{
    font-size: 4em;
    color: var(--red-promeo);
}

/*
SLIDE 6 FRON BAKC
   */

.access{
    width: 40vw;
    position: absolute;
}
#acces-back{
    top: 20vh;
    right: 2vw;
}

#acces-front{
    top: 20vh;
    left: 2vw;
}

#access-title-back{

}

#access-title-front{

}