<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="ressources/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="ressources/slick/slick-theme.css"/>
        <link rel="stylesheet" type="text/css" href="ressources/css/custom.css"/>
    </head>
    <body>
        <section class="background-cover slider">
            <div class="slide">
                <p class="presentation-title">
                    <span class="red-big-letter">A</span>nalyse
                    <span class="red-big-letter">D</span>es
                    <span class="red-big-letter">B</span>esoins en formation <span class="red-big-letter">Langues</span></p>
            </div>
            <div class="slide">your content</div>
            <div class="slide">your content</div>
        </section>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="ressources/slick/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.slider').slick({
                    fade: true
                });
            });
        </script>
    </body>
</html>