<div class="presentation-title shadow">
    <p>
        <span class="red-big-letter">A</span>nalyse
        <span class="red-big-letter">D</span>es
        <span class="red-big-letter">B</span>esoins en formation <span class="red-big-letter">Langues</span></p>
</div>

<img class="shadow-lg" id="logo-promeo" src="ressources/images/logoPROMEO.svg" width="200" alt="logo PROMEO"/>
<img class="shadow-lg" id="logo-sio" src="ressources/images/logo2BTS.png" width="200" alt="logo PROMEO"/>
<img class="shadow-lg" id="logo-adb" width="200" src="/ressources/images/adb.PNG" alt="logo adb langues"/>

<div class="shadow-lg presentation-subtitle">
    <p>Présentation de la plateforme  Mercredi 5 Février 2020</p>
</div>
