
<div class="titre-contenu">
    <h1 class="header1">Historique du projet - Le context</h1>
</div>
<div class="content-contenu">
    <div class="discussion">
        <div class="row" id="ctx-demande">
            <div class="col-1">
                <img src="/ressources/images/logoPromeo.PNG" class="profile-pic"/>

            </div>
            <div class="col-5">
                <div class="bubble">Bonjour Christophe,<br/> Nous aimerions pouvoir dématerialiser l'analyse du besoin de formation en langues.</div>
            </div>
        </div>

        <div class="row" id="ctx-transfer">
            <div class="col-1">
                <img src="/ressources/images/alfandari.jpg" class="profile-pic"/>

            </div>
            <div class="col-5">
                <div class="bubble">Bonjour Sébastien,<br/> afin que les SIO puisse travailler sur un projet concret, je pense qu'il serait une bonne idée qu'ils interviennent sur ce sujet</div>
            </div>
        </div>
        <div class="row" id="ctx-reponse">

            <div class="col-5">
                <div class="bubble bubble-sender">Bonjour,<br/> Aucun problème. Le projet entre clairement dans leurs compétences et apportera une expersience à forte valeur ajoutée.</div>
            </div>
            <div class="col-1">
                <img src="/ressources/images/lemoine.png" class="profile-pic"/>
            </div>
        </div>
    </div>
    <div id="word" class="row">
        <div class="col-2">
            <img src="/ressources/images/Logo-Word-1.jpg" alt="logo word">
        </div>
        <div class="col-4 center-col">
            <p class="titre-doc">ADB_Langues-Cahier des charges fonctionnel v0.1.docx</p>
        </div>
    </div>

    <div id="mail" class="shadow-lg">
        <img src="/ressources/images/mail.PNG" alt="Screenshot du mail envoyé après CDCDF">
    </div>
</div>
