<div class="titre-contenu">
    <h1 class="header1">Historique du projet - Plannification en phase</h1>
</div>
<div class="content-contenu">
    <div class="row" id="plan-phase">
        <div class="col-6" id="plan-phase-1">
            <h1 class="header2">Phase 1 : Proof of concept (POC)</h1>
            <div id="logo-p1">
                <div id="techno">
               <img class="logo-phase" src="/ressources/images/php.svg">
               <img class="logo-phase" id="logo-symfony" src="/ressources/images/symfony.svg">
                <img class="logo-phase" src="/ressources/images/mysql.svg">
                </div>
                <img id="deadline" src="/ressources/images/deadline.png"/>
            </div>
        </div>
        <div class="col-6" id="plan-phase-2">
            <h1 class="header2">Phase 2 : Cycle projet</h1>
            <img id="scrum-pic" src="/ressources/images/scrum.jpg">
            <div id="tools" class="shadow-lg">
                <h2 class="headerList">Utilisation d'outils collaboratif</h2>
                <ul class="tools-list">
                    <li><img class="logo-phase" src="/ressources/images/logo-trello.png"></li>
                    <li><img class="logo-phase" src="/ressources/images/testcollab.png"></li>
                    <li><img class="logo-phase" src="/ressources/images/mantis.jpg"></li>

                </ul>
            </div>
        </div>
    </div>
</div>