<div class="titre-contenu">
    <h1 class=" header1">Fonctionnalités - Modèle Front & Back</h1>
</div>
<div class="content-contenu">
    <div class="row mt-5">
        <div class="col-6 align-content-center">
            <h2 id="access-title-front" class="header2">Accès Front pour nos clients</h2>
            <img class="access shadow-lg" id="acces-front" src="/ressources/images/adb_front.PNG"/>
        </div>
        <div class="col-6 align-content-center">
            <h2 id="access-title-back" class="header2">Accès Back pour les salariés du pôle Langues</h2>
            <img class="access shadow-lg" id="acces-back" src="/ressources/images/adb_back.PNG"/>

        </div>
    </div>

</div>
