<div class="titre-contenu">
    <h1 class=" header1">Fonctionnalités - Back Office</h1>
</div>
<div class="content-contenu">

    <div class="centre">
        <a id="btn-custom-back" href="http://adblangue.ddns.net/login" class="btn btn-info ">Accéder à l'interface Salariés PROMEO</a>
        <img src="ressources/images/adb.PNG"/>
    </div>
</div>