<div class="summury-title"></div>
<div class="summury-content">
    <h1>Ordre du jour</h1>
    <ul>
        <li>Historique du projet</li>
        <li>Fonctionnalités </li>
        <li><span class="red-big-letter">Outils & mise en recette</span></li>
        <li>Infrastructure & accès</li>
    </ul>
</div>