<div class="titre-contenu">
    <h1 class="header1">Mise en Recette - Session de tests</h1>
</div>
<div class="content-contenu ">

    <div class="row">
        <div class="col-6">
            <div class="ml-5 mt-1">
                <h1 class="headerList">Organisation d'une session de tests
                </h1>
                <ul class="list-group">
                    <li class="list-group-item">Un groupe de licence terciaire sur Compiègne</li>
                    <li class="list-group-item">Un groupe de Bac Pro technique sur Soisson</li>
                    <li class="list-group-item">Un groupe de salarié promeo de tous horizon</li>
                </ul>
            </div>
            <div class="ml-5 mt-5">
                <h1 class="headerList">Objectifs
                </h1>
                <ul class="list-group">
                    <li class="list-group-item">Remonter un maximum d'anomalies dans un laps de temps court</li>
                    <li class="list-group-item">Faire participer un maximum de profiles différents</li>
                    <li class="list-group-item">Faire se coordonner les groupes de travail sur différents sites</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <img src="ressources/images/quality.jpg" id="quality-pic"/>
        </div>

    </div>

</div>