<div class="titre-contenu">
    <h1 class="header1">Infrastructure de recette - Déploiement actuel</h1>
</div>
<div class="content-contenu">
    <div class="row">
        <div class="col-6">
            <img src="ressources/images/current.jpg" id="current"/>
        </div>
        <div class="col-6">
            <div class="mt-lg-5">
                <h1 class="headerList">Organisation actuelle
                </h1>
                <ul class="list-group">
                    <li class="list-group-item">Accès à l'interface Clients PROMEO</li>
                    <ul class="list-group">
                        <li class="ml-5 list-item">http://adblangue.ddns.net/</li>
                    </ul>
                    <li class="list-group-item">Accès à l'interface Salariés PROMEO</li>
                    <ul class="list-group">
                        <li class="ml-5 list-item">http://adblangue.ddns.net/login</li>
                    </ul>
                    <li class="list-group-item">Accès à l'interface de Mantis BT (déclaration et suivi d'anomalies)</li>
                    <ul class="list-group">
                        <li class="ml-5 list-item">http://adblangue.ddns.net:8081</li>
                    </ul>
                    <li class="list-group-item">Accès à l'interface de TestCollab (éxectuion de tests)</li>
                    <ul class="list-group">
                        <li class="ml-5 list-item">https://adblangues.app.testcollab.com/</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>