<div class="summury-title"></div>
<div class="summury-content">
    <h1>Ordre du jour</h1>
    <ul>
        <li>Historique du projet</li>
        <li>Fonctionnalités </li>
        <li>Outils & mise en recette</li>
        <li>Infrastructure & accès></li>
        <li><span class="red-big-letter"> Questions diverses</span></li>

    </ul>
</div>