<div class="titre-contenu">
    <h1 class="header1">Pédagogie- Compétences</h1>
</div>
<div class="content-contenu">
    <table class="table-comp">
        <tr><th class="headerTab">Competences</th><th class="headerTab">Validée</tr>
        <tr><td>Participation à un projet d’évolution d’un SI (solution applicative et d’infrastructure portant prioritairement sur le domaine de spécialité du candidat)
            </td><td><img class="validee" src="ressources/images/valid.jpg" /></td></tr>
        <tr><td>Prise en charge d’incidents et de demandes d’assistance liés au domaine de spécialité du candidat
            </td><td><img class="validee" src="ressources/images/valid.jpg" /></td></tr>
        <tr><td>Elaboration de documents relatifs à la production et à la fourniture de services
            </td><td><img class="validee" src="ressources/images/valid.jpg" /></td></tr>
        <tr><td>Productions relatives à la mise en place d’un dispositif de veille technologique et à l’étude d’une technologie, d’un composant, d’un outil ou d’une méthode
            </td><td><img class="validee" src="ressources/images/valid.jpg" /></td></tr>
    </table>
</div>