<div class="titre-contenu">
    <h1 class="header1">Questions Diverses</h1>
</div>
<div class="content-contenu">
    <div id="questions">
        <img src="/ressources/images/question.jfif"/>
    </div>
</div>