<div class="titre-contenu">
    <h1 class="header1">Infrastructure finale - Accès futur à ADB Langue</h1>
</div>
<div class="content-contenu">
    <div class="row">
        <div class="col-6">
            <div class="ml-5 mt-5">
                <h1 class="headerList">Déploiement de l'application
                </h1>
                <ul class="list-group ">
                    <li class="list-group-item">Hébergement et non de domaine définitif à choisir </li>
                    <li class="list-group-item">Diffusion de l'URL depuis le site PROMEO pour l'accès Clients</li>
                    <li class="list-group-item">Mise en place d'une icône de bureau pour les salariés</li>
                </ul>
            </div>

        </div>
        <div class="col-6">
            <img  src="ressources/images/futur.jpg" id="futur-pic"/>
        </div>

    </div>

</div>