<div class="ender_pres">
    <img src="/ressources/images/header_end_pres.PNG" alt="logo promeo-formation.fr" id="header_end"/>
    <img src="/ressources/images/content_end_pres.PNG" alt="logo promeo UIMM HDF" id="content_end"/>
    <img  id="logo-sio-end" src="ressources/images/logo2BTS.png"  alt="logo PROMEO"/>
    <img  id="logo-adb-end" src="ressources/images/adb.PNG"  alt="logo adb langues"/>

    <img src="/ressources/images/footer_end_pres.PNG" alt="footer AFAQ sites promeo" id="footer_end"/>
</div>
